PORT=4000
MONGODB_URI=mongodb://localhost:27017/payrol_system
JWT_SECRET=change_me

# Celo / Web3
ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
PRIVATE_KEY=
STABLE_TOKEN_ADDRESS=0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1

# Employer contract address will be stored per employer in DB as contractAddress
