# Private key of the deployer (no 0x prefix)
PRIVATE_KEY=

# RPC URLs
ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
CELO_RPC_URL=https://forno.celo.org

# cUSD token addresses
# Alfajores (testnet)
# Source: Celo docs
STABLE_TOKEN_ADDRESS=0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
# For mainnet, override with: 0x765DE816845861e75A25fCA122bb6898B8B1282a
